body {
  background-color: salmon;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 5rem;
  color: white;
  text-shadow: 5px 4px 1px black;
}
article {
  text-align: center;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}

/*input:checked ~ h1*/
h1 {
  animation: coloring 10s infinite;
}

@keyframes coloring {
  0% {
    text-shadow: -10px -5px 10px green;
  }

  25% {
    text-shadow: 10px -5px 15px blue;
  }

  50% {
    text-shadow: 10px 5px 10px yellow;
  }
  75% {
    text-shadow: -10px 5px 15px red;
  }
}
article {
  font-family: "open-sans";
  margin-top: 2rem;
}
input {
  border: 2px solid black;
  border-radius: 2px;
  width: 150px;
  margin-bottom: 1rem;
}

button {
  color: white;
  background-color: black;
  border-radius: 2px;
  width: 154px;
  font-size: medium;
}

.ShowPassword {
  visibility: visible;
  padding-top: 0.5rem;
}
.HiddenPassword {
  visibility: hidden;
}
ul {
  list-style-type: none;
  font-family: "Open Sans";
  padding: 0;
  margin: 0;
}
/* EMOJIS WERDEN HINTER DEN TEXTFELDERN PLATZIERT */
/* EQUAL*/
.equal-content-yes {
  visibility: hidden;
}

.equal-content-no {
  visibility: visible;
  margin-left: -25px;
}

/* LOWER CASE*/
.lower-content-yes {
  visibility: hidden;
}

.lower-content-no {
  visibility: visible;
  margin-left: -25px;
}

/* UPPER CASE*/
.upper-content-yes {
  visibility: hidden;
}

.upper-content-no {
  visibility: visible;
  margin-left: -25px;
}

/* CONTENT NUMBER*/
.number-content-yes {
  visibility: hidden;
}

.number-content-no {
  visibility: visible;
  margin-left: -25px;
}

/* AT LEAST 10 CHARACTER*/
.char-content-yes {
  visibility: hidden;
}

.char-content-no {
  visibility: visible;
  margin-left: -25px;
}

/*for Desktop OVER 700PX*/
@media screen and (min-width: 700px max-width: 1023px) {
  article {
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .media-left {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }

  .media-right {
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }
}

/*for Desktop*/
@media screen and (min-width: 1024px) {
  article {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    color: black;

    font-size: 1.5rem;
    font-weight: 600;
  }

  .media-left {
    display: flex;
    align-items: center;
    margin-right: 5rem;
  }
  /* Hier fehlt noch was nach meinem Wunsch und zwar: links geordnet*/
  .media-right {
    display: flex;
    align-items: flex-start;

    margin-left: 5rem;
  }
}
